version: '3.8'

services:
  # Prometheus
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - monitoring
    restart: unless-stopped

  # PostgreSQL Exporter
  postgres_exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: postgres_exporter
    ports:
      - "9187:9187"
    environment:
      DATA_SOURCE_NAME: "postgresql://postgres:abzal@host.docker.internal:5432/postgres?sslmode=disable"
    networks:
      - monitoring
    restart: unless-stopped

  # Node Exporter
  node_exporter:
    image: prom/node-exporter:latest
    container_name: node_exporter
    ports:
      - "9100:9100"
    networks:
      - monitoring
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"           # веб-интерфейс Grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin      # логин
      - GF_SECURITY_ADMIN_PASSWORD=admin  # пароль
    volumes:
      - grafana_data:/var/lib/grafana      # сохраняем данные
    depends_on:
      - prometheus                        # подождать Prometheus
    networks:
      - monitoring                         # та же сеть, что и Prometheus
    restart: unless-stopped

volumes:
  grafana_data:


networks:
  monitoring:
    driver: bridge
